.formLabel {
    width: 130px;
    display: inline-block;
}
.formDiv {
    margin: 20px;
}
.form {
    background-color: lightpink;
    display: inline-block;
    padding: 25px;
}


.fieldset {
    margin: 20px;
}